<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
            <form class="form" method="post">
              <div class="form-group">
                <label for="UserNameTextField">User Name</label>
                <input type="text" class="form-control" id="UserNameTextField"
                placeholder="User Name" name="username"  required>
              </div>
              <div class="form-group">
                <label for="PasswordTextField">Password</label>
                <input type="password" class="form-control" id="PasswordTextField"
                placeholder="Password" name="password"   required>
              </div>

              <button type="submit" class="btn btn-primary"><i class="fa fa-user"></i> Login</button>
              <a href="/register" class="btn btn-secondary"><i class="fa fa-signup"></i> Signup</a>
            </form>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>
